{% extends 'base.html' %}
{% load static %}
{% block content %}

<body >
    <div id="event-box" style="display:none">{{ob|date:"M d,Y H:m:s"}}</div>

    <div class="box" id="questionScreen">
        <div class="title">
            Riddles:
        </div>
        <div class="header">
            <!-- <div class="scoreBox inl-box">Score: <span id="score" class="score">0</span></div> -->
            <!-- <div id="countdown" class="ul-rigth inl-box"> Time Off <span id="countdown-box" class="time"></span></div> -->
        </div> 
    <div id="box">
        <div id="countdown" class="ul-rigth inl-box" style="text-align: center; color: blue; font-size: 2rem;"> Time Off <span id="countdown-box" class="time"></span></div>
    <div id="box">
        <div id="inner-box">
            <div class="textbox">
                <p>Question : this is a dummy question ?</p>
            </div>
            <div id="inner-box1">
                <div class="inner-box1"><p class="text">0101</p></div>
                <div class="inner-box1"><p class="text">string</p></div>
            </div>
            <div id="inner-box2">
                <div class="inner-box2"><p class="text">0101</p></div>
                <div class="inner-box2"><p class="text">string</p></div>

            </div>
            <form action="{% url 'problem2' %}" method="POST">
                {% csrf_token %}
                <div class="input">
                    <label for="answer">Answer:</label>
                    <input type="text" id="answer" name="answer" placeholder="Enter your Answer here"><br>
                </div>
                <div class="buttons">
                    <button  type="submit" id="show1" class="but">Submit</button>
                </div>
                
            </form>
        </div>
        <a class="but" href="{% url 'quiz' %}" id="show">Next</a>
        <button class="but">Finish</button>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{% static '/css/page3.css' %}">
            <script>
    

                const eventBox=document.getElementById('event-box')
                const CountDownBox=document.getElementById('countdown-box')
                // console.log(eventBox.textContent)
                const Eventdate=Date.parse(eventBox.textContent)
                // console.log(Eventdate)
                setInterval(()=>{
                    const now=new Date().getTime()
                    // console.log(now)
                    const diff=Eventdate-now
                    // console.log(diff)
                    const d=Math.floor(Eventdate/(1000*60*60*24)-(now/(1000*60*60*24)))
                    const h=Math.floor((Eventdate/(1000*60*60)-(now/(1000*60*60)))%24)
                    const m=Math.floor((Eventdate/(1000*60)-(now/(1000*60)))%60)
                    const s=Math.floor((Eventdate/(1000)-(now/(1000)))%60)
                    if(diff>0)
                    {
                        CountDownBox.innerHTML=d+":"+h+":"+m+":"+s
                    }
                    else
                    {
                        CountDownBox.innerHTML="00:00"
                        document.getElementById("show").style.display = "none";
                        document.getElementById("show1").style.display = "none";
                        console.log("aman")
                    }
                },1000)
                
                // function timeOut(){
                //     if((`${minutes}` == 0 ) && (`${seconds}` == 0)){
                //         location.href = "end.html";
                //     }
                // }
                </script>
</body>

{% endblock %}